* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #000;
}
.header {
	padding: 1em;
	border-bottom: solid 3px #000;
}
.title {
	font-size: 3em;
	text-align: center;
}