* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #000;
	background-color: #f0f0f0;
}
.header {
	padding: 2em;
	background-image: linear-gradient(45deg, #005200, #337533);
	color: #fff;
	box-shadow: 0 0 500px #000;
}
.title {
	font-size: 2em;
	text-align: center;
}
.main {
	padding: 1em;
}
.description {
	text-align: center;
	padding: 1.5em;
	border-bottom: solid 1px #aaa;
}
.row {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
}
label {
	margin-bottom: 0.5em;
}
input, fieldset, select, textarea {
	padding: 1em;
	border-radius: 5px;
	border: solid 1px #005200;
}
input:focus, select:focus, textarea:focus {
	border: solid 2px orangered !important;
	outline: none;
}
fieldset {
	border: none;
}
.radio-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.radio-label {
	width: 30%;
}
input[type="radio"]:focus, input[type="checkbox"]:focus {
	background: orangered;
	outline: solid 2px orangered;
}
.checkbox-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
::placeholder {
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
}
.main {
	width: 95%;
	max-width: 800px;
	margin: 1em auto;
	box-shadow: 0 0 20px #aaa;
	background-color: #f8f8f8;
}
#survey-form > div:nth-child(1) {
	margin-top: 0.5em;
}
.textarea {
	margin-top: 1em;
}
button {
	padding: 1em 2em;
	background-color: #005200;
	border: none;
	border-radius: 5px;
	color: #fff;
	margin: 0 auto;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	box-shadow: 0 0 20px #3e3e3e;
	margin: 1em auto;
}
button:hover {
	background-color: #337533;
	box-shadow: 0 0 5px #3e3e3e;
	transition: all 1s ease;
}
button:focus {
	background-color: #337533;
	box-shadow: 0 0 5px #3e3e3e;
	transition: all 1s ease;
	border: solid 2px orangered;
	outline: none;
}
.footer {
	padding: 1.5em;
	background-image: linear-gradient(45deg, #005200, #337533);
	color: #fff;
}
.copyright {
	text-align: center;
}
.copyright a {
	text-decoration: none;
	color: #fff;
}
.copyright a:hover {
	color: yellow;
}
.copyright a:focus {
	color: orangered;
	outline: none;
}
@media screen and (min-width: 600px) {
	.header {
		padding: 3em;
	}
	.title {
		font-size: 3em;
	}
	.description {
		padding: 3em;
	}
	.row {
		flex-direction: row;
		justify-content: space-evenly;
	}
	label, legend { 
		width: 50%;
		text-align: right;
		margin-right: 1em;
	}
	input, select, .radios, textarea {
		width: 50%;
	}
	.input-checkbox { 
		width: 20%;
	}
	.radio-group, .checkbox-group {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	.radio-input {
    width: 20%;
	}
	.radio-label, .checkbox-label {
		text-align: left;
		width: 80%;
	}
	.checkboxes {
		width: 50%;
	}
}